
<div class="form-lair" data-toggle-target='form' >
  <%= simple_form_for @lair, data: {update_form_target: 'form' } do |f| %>

    <div class="d-flex justify-content-center">
      <div class="row g-4 col-6 d-flex flex-column">
        <%= f.label :name %>
        <%= f.label :description %>
        <%= f.label :location %>
        <%= f.label :max_guests %>
        <%= f.label :price_per_night %>
        <%= f.label :photo %>
      </div>

      <div class="row g-3 col-6">
        <%=  f.text_field :name %>
        <%= f.text_field :description %>
        <%= f.text_field :location %>
        <%= f.text_field :max_guests %>
        <%= f.number_field :price_per_night %>
        <%= f.input :images, as: :file, input_html: {multiple: true}, label: false %>

      </div>
      </div>

    </div>

    <div class="d-flex justify-content-center">
      <%= f.submit @lair.new_record? ? "Create Lair" : "Update Lair", class: "form-btn"%>
    </div>

  <% end %>
</div>
