<div data-update-form-target="container">
    <%= link_to "Book this lair", new_lair_booking_path(@lair, check_in: params[:check_in], check_out: params[:check_out]), class: "book-button" %>
  <div class="show-card">

    <h1> <%= @lair.name %></h1>

    <div class="show-img-carousel" data-controller="carousel">
      <section class="show-carousel" aria-label="Hero Carousel">
        <div class="show_viewport" data-carousel-target="viewport">
          <%if @lair.images.length > 1  %>
            <% @lair.images.each_with_index do |image, index| %>
              <div class="carousel__slide" data-carousel-target="slide" id="slide<%= index + 1 %>">
                <%= cl_image_tag image.key %>
              </div>
            <% end %>
          <% elsif @lair.images.length == 1 %>
            <%= cl_image_tag @lair.images.first.key %>
          <% else %>
            <%= image_tag("lair-placeholder.jpg") %>
          <% end %>
        </div>

        <a class="show__prev" data-action="carousel#prev" aria-label="Previous Slide"><i class="fas fa-chevron-left"></i></a>
        <a class="show__next" data-action="carousel#next" aria-label="Next Slide"><i class="fas fa-chevron-right"></i>
  </a>
      </section>
    </div>

    <h3><%= @lair.tagline %></h3>
    <p> <strong>Lair info:</strong> <%= @lair.description %></p>
    <p> <strong>Max occupancy:</strong> <%= @lair.max_guests %></p>
    <p> <strong>Location:</strong> <%= @lair.location %></p>
    <% if @lair.average_rating %>
      <p>
        <strong>Rating:</strong>
        <%= render 'lairs/rating_stars', rating: @lair.average_rating %>
      </p>
    <% end %>
    <p> <strong>Price: </strong> £<%= format("%.2f", @lair.price_per_night) %></p>

  </div>


  <div class="btns-container">
    <% if current_user == @lair.user %>

      <div data-controller="toggle">
        <button data-action="click->toggle#fire">Edit this Lair</button>
        <div class="show-form-edit d-none" data-toggle-target="toggleableElement">
          <h1>Edit Lair</h1>
          <%= render "form", lair: @lair %>
        </div>
      </div>
     <%= button_to "Destroy this lair", @lair, method: :delete %>

    <%end %>
  </div>

</div>

  <%# <div class="show-img-carousel" data-controller="carousel">
      <section class="show-carousel" aria-label="Hero Carousel">
        <div class="show_viewport" data-carousel-target="viewport">
          <div class="show_slide" id="slide1" data-carousel-target="slide">
            <img src="/assets/Vader-1.jpg" alt="Lair 1" class="carousel-image">
          </div>
          <div class="show_slide" id="slide2" data-carousel-target="slide">
            <img src="/assets/Vader-2.jpg" alt="Lair 2" class="carousel-image">
          </div>
          <div class="show_slide" id="slide3" data-carousel-target="slide">
            <img src="/assets/Vader-3.jpg" alt="Lair 3" class="carousel-image">
          </div>
          <div class="show_slide" id="slide4" data-carousel-target="slide">
            <img src="/assets/Vader-4.jpg" alt="Lair 4" class="carousel-image">
          </div>
        </div>
        <a href="#" class="show__prev" data-action="carousel#prev" aria-label="Previous Slide">❮</a>
        <a href="#" class="show__next" data-action="carousel#next" aria-label="Next Slide">❯</a>
      </section>
    </div> %>
