
<div class="banner-search">
  <%= render 'lairs/banner' %>
  <div class="search-bar d-none" data-toggle-target="toggleableElement">

    <%= form_with url: lairs_path, method: :get, class: "d-flex", data: { controller: "search", action: "input->search#search", search_url: lairs_path } do %>
      <%= text_field_tag :query, params[:query], placeholder: "Search for a lair", data: { search_target: "query" } %>
      <%= text_field_tag :check_in, params[:check_in], placeholder: "Check-in", data: { search_target: "checkIn" } %>
      <%= text_field_tag :check_out, params[:check_out], placeholder: "Check-out", data: { search_target: "checkOut" } %>
    <% end %>
  </div>
</div>

<%= render 'lairs/testimonials' %>

<p style="color: green"><%= notice %></p>

<div class="index-container d-none" data-toggle-target="toggleableElement">
  <div id="lair-results" class="lairs-container">
    <% @lairs.each do |lair| %>
      <%= link_to lair_path(lair, check_in: params[:check_in], check_out: params[:check_out]) do %>
        <div class="lair-card">
          <div class="image-container">
<%if lair.images.length > 0  %>
              <%= cl_image_tag lair.images.first.key, class: "lair-image" %>
            <%else %>
              <%= image_tag "#{default_lair_image(lair.name)}" %>
            <%end%>
          </div>
          <h2><%= lair.name %></h2>
          <p><%= lair.tagline %></p>
          <div class="more-info">
            <p><i class="fa-solid fa-users-line"></i> <%= lair.max_guests %></p>
            <p><%= lair.price_per_night %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
