
<p style="color: green"><%= notice %></p>

      <%= link_to "Show this lair", lair %>

<%= link_to "New lair", new_lair_path %>

<h1>Lairs:</h1>

<% @lairs.each do |lair| %>
<%= link_to lair_path(lair) do %>
  <h2><%= lair.name %></h2>
<% end %>
  <p><%= lair.description %></p>
<% end %>

