<%= turbo_stream.replace "lair-results" do %>
  <div id="lair-results" class="lairs-container">
    <% @lairs.each do |lair| %>
      <%= link_to lair_path(lair, check_in: params[:check_in], check_out: params[:check_out]) do %>
        <div class="lair-card">
          <div class="image-container">
            <%= image_tag default_lair_image(lair.name), class: "lair-image" %>
          </div>
            <h2><%= lair.name %></h2>
          <p><%= lair.tagline %></p>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
