<div class="show-container">
  <p style="color: green"><%= notice %></p>
  <h1>This is the SHOW Page</h1>
  <div class="show-card">
    <%= image_tag "#{default_lair_image(@lair.name)}" %>
    <h2> <%= @lair.name %></h2>
    <p> <%= @lair.description %></p>
    <p> <strong>Location:</strong> <%= @lair.location %></p>
    <% if @lair.rating%>
      <p> <strong>Rating:</strong> <%= @lair.rating %></p>
    <% end %>
    <p> <strong>Price: </strong> £ <%= @lair.price_per_night %></p>
  </div>


  <div class="show-btns">
    <%= link_to "Edit this lair", edit_lair_path(@lair) %>
    <%= button_to "Destroy this lair", @lair, method: :delete %>
    <div data-controller="toggle">
      <button class="btn btn-outline-primary" data-action="click->toggle#fire">Edit a Lair</button>
      <div class="d-none" data-toggle-target="toggleableElement">
        <%= render "form", lair: @lair, html: { data: { toggle_target: 'form', action: 'submit->toggle#update' }} %>
      </div>
    </div>
  </div>
</div>
