<div class="show-container">
  <p style="color: green"><%= notice %></p>
  <div class="show-card">
    <%= image_tag "#{default_lair_image(@lair.name)}" %>
    <h1> <%= @lair.name %></h1>
    <h3><%= @lair.tagline %></h3>
    <p> <strong>Lair info:</strong> <%= @lair.description %></p>
    <p> <strong>Max occupancy:</strong> <%= @lair.max_guests %></p>
    <p> <strong>Location:</strong> <%= @lair.location %></p>
    <% if @lair.rating %>
    <p> <strong>Rating:</strong> <%= '⭐️' * @lair.rating %></p>
    <% end %>
    <p> <strong>Price: </strong> £ <%= @lair.price_per_night %></p>
  </div>

<% if current_user == @lair.user %>
  <div class="show-btns">
    <%= link_to "Edit this lair", edit_lair_path(@lair) %> |
    <%= link_to "Destroy this lair", @lair, data: { turbo_method: :delete } %>
  </div>
<% end %>
</div>
