<div class="show-container">
  <p style="color: green"><%= notice %></p>
  <h1>This is the SHOW Page</h1>
  <div class="show-card">
    <%= image_tag "#{default_lair_image(@lair.name)}" %>
    <h2> <%= @lair.name %></h2>
    <p> <%= @lair.description %></p>
    <p> <strong>Location:</strong> <%= @lair.location %></p>
    <p> <strong>Rating:</strong> <%= '⭐️' * @lair.rating %></p>
    <p> <strong>Price: </strong> £ <%= @lair.price_per_night %></p>
  </div>

  <div class="show-btns">
    <%= link_to "Edit this lair", edit_lair_path(@lair) %> |
    <%= button_to "Destroy this lair", @lair, method: :delete %>
  </div>
</div>
